body
{
  z-index: 2;
}
.fade-carousel {
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: white;
    border-color: white;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-weight: bold;
    margin: 0;
    padding: 0;
    width: auto;
}

.item img
{
  width:100%;
}


/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: 0.7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    outline: none;
    margin: 20px auto;
    text-decoration: none;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }
}

h1
{
    font-size:30px;
}

.btn
{
  background-color:transparent;
  border-color:white;
}

.btn:hover
{
  background-color: #1abc9c;
  border-color: #1abc9c;
}

.see-what-else
{
  font-size:18px;
  font-family:"brandon-grotesque", sans-serif;
  font-weight:bold;
  color:#7e8890;
  text-transform:uppercase;
  letter-spacing:.075em;
  text-align:center;
  margin-bottom:25px;
  margin-top:50px;
}

.block
{
  position:relative;
  display:inline-block;
  float: left;
  margin-top:80px;
  margin-bottom: 30px;
  text-align: center;
}

.block a,h2
{
  font-family: "brandon-grotesque", sans-serif;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: .065em;
  color: #fc3768;
  text-transform: uppercase;
  font-weight: 700;
  max-width: 270px;
  margin: 0 auto;
  margin-top:25px;
  text-align: center;
}

.block a:hover
{
  text-decoration: none;
}

.block p
{
  margin-top:15px;
}

.content
{
  margin-top: 50px;
  font-size: 18px;
  line-height: 32px;
}
